html body {
    background-image: url("../img/beer_background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   
}

li {
    font-size: 1.5em;
}

.change-devoured {
    border-radius: 20%;
}

.delete-devoured {
    border-radius: 20%;
}

.submit {
    border-radius: 20%;
}

